<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Styles/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <!--<input id="fileupload" type="file" name="files[]" />-->
        
        <a
            class="filePicker"
            href="#"
            style="
                position: relative;
                overflow: hidden;
                margin: 0 10px;
                "
            >
            Select file
            <input
                class="filePickerNative"
                id="filePickerNative"
                name="filePickerNative"
                style="
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: 0;
                    padding: 0;
                    font-size: 0;
                    cursor: pointer;
                    opacity: 0;
                    filter: alpha(opacity=0);
                    width: 100%;
                "
                type="file"
                />
        </a>

        <!-- <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer> -->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryfileupload")
        @RenderSection("scripts", required: false)
        <script>
            $('#filePickerNative').on("change", function() {
                console.log("change!");
            });
            $(function () {
                $('#filePickerNative').fileupload({
                    method: 'PUT',
                    dataType: 'json',
                    url: '/api/Files',
                    done: function (e, data) {
                        $.each(data.result.files, function (index, file) {
                            $('<p/>').text(file.name).appendTo(document.body);
                        });
                    },
                    progress: function (e, data) {
                        if (e.isDefaultPrevented()) {
                            return false;
                        }
                        var progress = Math.floor(data.loaded / data.total * 100);
                        console.log(progress);
                    }
                });
            });
        </script>
    </body>
</html>
